body {
  background: url("../images/bg.jpg") #000E11 no-repeat center top;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Helvetica Neue", "Arial", "Verdana";
  color: #333;
  text-align: center;
  font-size: 110%;
  background-attachment:fixed;
}
.logo {
  background: url("../images/logo.png") no-repeat left top;
  margin: 20px auto;
  padding: 110px 30px 0 30px;
  text-indent: -9000px;
  overflow: hidden;
}
#login-buttons {
	position: absolute;
	top: 20px;
	right: 30px;
}
.wrapper {
	margin: 30px;
	padding: 30px;
	background: rgba(0,0,0,0.2)
}
form {
	margin: 0;
	padding: 0;      }
input {
	font-family: "Helvetica", "Helvetica Neue", "Arial", "Verdana";
	font-weight: 300;
  color: #999;
  font-size: 120%;
  border: 1px solid #fff;
  padding: 20px;
}
button,
.button {
	font-family: "Helvetica", "Helvetica Neue", "Arial", "Verdana";
	background: #000;
	font-weight: bold;
	color: #fff;
  font-size: 120%;
  border: 1px solid #000;
  padding: 20px;
  cursor: pointer;
}
.button {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
}
button:hover,
.button:hover {
	background: #333;
}
.link_collection {
	display: none;
	position: fixed;
	background: rgba(0,0,0,0.6);
	padding: 5px 0;
	bottom: 0;
	left: 0;
	width: 100%;
}
.link_collection.on {
	display: block;
}
.serps {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

.serps table {
	width: 100%;
}

.serps table tr td {
	height: 10px;
}

.serps table tr td.text {
	padding-top: 25px;
	padding-bottom: 15px;
}

.serps tr.data {
	background: #fff;
}

.serps tr.data td {
	padding: 10px 20px;
}

.serps tr.data td .json {
	display: none;
}

.icon {
	display: block;
	width: 44px;
	height: 44px;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -9000px;
}

.icon.expand {
	background-image: url("../images/icon_expand.png");
}

.icon.link {
	background-image: url("../images/icon_link.png");
}

.icon.link.on {
	background-image: url("../images/icon_link_on.png");
}

.icon.comment {
	background-image: url("../images/icon_comment.png");
}

.icon.see_links {
	background-image: url("../images/icon_see_links.png");
}

.tags {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}

.tags li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.tags a {
	padding: 3px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ccc;
	color: #666;
	text-decoration: none;
	font-size: 95%;
}

.tags a:hover {
	background: #aaa;
	color: #333;
}

@media only screen and (min-width: 640px) {
	input,
	button {
		font-size: 140%;
	}

	input {
		width: 65%;
	}
 	button {
		width: 26%;
		float: right;
	}
}

@media only screen and (min-width: 800px) {
	form {
		text-align: left;
	}
	input,
	button {
		font-size: 200%;
	}
}

@media only screen and (min-width: 1200px) {
  body {
  	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}